ion-content {
    --background: #ffffff;
    }
    
    .profile-icon-section {
    margin-top: 20px;
    
    ion-icon {
      font-size: 50px;
      color: #FFA500;
    }
    }
    
    .form-section {
    margin-top: 40px;
    padding: 0 20px;
    
    ion-item {
      --background: transparent;
      --border-color: #424242;
      --highlight-height: 1px;
      margin-bottom: 20px;
    
      ion-label {
        --color: rgb(135, 135, 135);
      }
    
      ion-input {
        --color: rgb(33, 33, 33);
      }
    
      ion-icon {
        color: #FFA500;
        margin-right: 8px;
      }
    }
    
    ion-button {
      margin-top: 50px;
      margin-left: 30PX;
      margin-right: 30PX;
      --background: #303030;
      height: 50px;
      font-size: 16px;
      --border-radius: 30px;
      --color: #FFA500;
    }
    }
    
    .footer-icon {
    margin-top: 20%;
    padding: 0;
    
    img {
      width: 50px;
      height: auto;
      opacity: 0.7;

    }
    }


    .title-item {
      --background: transparent;
      --border-style: none;
      margin-top: 20px;
      width: 100%;
      
      ion-label {
        width: 100%;
        text-align: center;
        font-size: 18px;
        color: #424242;
        margin: 0 auto;
      }
    }

    ion-header {
      position: absolute;
      
      ion-toolbar {
        --background: transparent;
        
        ion-buttons {
          margin-left: 8px;
          
          ion-button {
            --color: #FFA500;
          }
        }
      }
    }